<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SaladSeller</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 우리가 만든 서블릿을 등록 -->
  <servlet>
   	<servlet-name>memberServlet</servlet-name>
  	<servlet-class>com.saladseller.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>boardServlet</servlet-name>
      <servlet-class>com.saladseller.servlet.BoardServlet</servlet-class>
  </servlet>
  <!-- 등록한 서블릿이처리할 url을 명시 
  	~~~~~~~~.do로 끝나는 요청이 있으면 memberServlet이 
  	처리하겠다
  -->
  <servlet-mapping>
  	<servlet-name>memberServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>boardServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
  
</web-app>